// Fonts
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,700");

// Import
@import "variables";
@import "resets";
@import "mixins";

// My Css Code
// Global
html {
  line-height: 1.4;
}
body {
  background: $white;
  color: $white;
  font-family: "Muli", Arial, Helvetica, sans-serif;
}
.container {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 20px;
}
a {
  text-decoration: none;
  transition: 0.3s;
  &:hover {
    color: $green;
    transition: 0.3s;
  }
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
ul {
  list-style: none;
}
li {
  padding-left: 0;
}
.current {
  color: $green;
}

// Header
header {
  height: 82px;
  position: absolute;
  width: 100%;
  @include mQ(668px) {
    background: $black;
  }
  nav {
    display: grid;
    font-size: 1.1rem;
    grid-template-columns: repeat(3, auto);
    height: 100%;
    align-content: center;
    @include mQ(768px) {
      grid-template-columns: repeat(2, auto);
    }
  }
  .nav-item {
    display: grid;
    align-content: center;
  }
  #logo-icon {
    width: 100px;
  }
  h1 {
    color: $white;
    font-size: 1.4rem;
  }
  span {
    color: $green;
  }
  .burger-icon {
    color: $white;
    display: none;
    font-size: 1.7rem;
    &:hover {
      color: $green;
    }
    @include mQ(668px) {
      align-self: center;
      display: block;
      justify-self: end;
    }
  }
  .menu {
    font-weight: 700;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 1rem;
    justify-self: center;
    @include mQ(768px) {
      justify-self: end;
    }
    @include mQ(668px) {
      position: absolute;
      top: 82px;
      background: $white;
      grid-template-columns: 1fr;
      justify-items: center;
      width: 100%;
      overflow: hidden;
      height: 0;
      transition: 0.3s;
      grid-gap: 2rem;
    }
  }
  #dropbar.visible {
    height: 70vh;
    transition: 0.3s;
  }
  .signin-here {
    justify-self: end;
  }
  li a {
    color: $offGrey;
    padding: 0 10px;
    @include mQ(668px) {
      color: $offBlack;
    }
  }
  .btn-signin {
    background: $white;
    border-radius: 5px;
    color: $green;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 1.5rem;
    transition: 0.3s;
    &:hover {
      background: $green;
      color: $white;
      transition: 0.3s;
    }
    @include mQ(768px) {
      display: none;
    }
  }
}

// Main
.main {
  background: url("../img/main.jpg") no-repeat bottom center;
  background-size: cover;
  box-sizing: border-box;
  height: 100vh;
  min-height: 570px;
  min-width: 321px;
  padding-top: 80px;
  padding-bottom: 40px;
  width: 100%;
  .showcase {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    height: 100%;
    text-align: center;
  }
  .showcase-item {
    display: grid;
    align-self: flex-end;
    justify-self: center;
  }
  h1 {
    font-size: 2.7rem;
    width: 80%;
    @include mQ(768px) {
      font-size: 2rem;
      width: 90%;
    }
    @include mQ(668px) {
      font-size: 1.7rem;
      width: 100%;
    }
  }
  p {
    color: $offGrey;
    margin-top: 20px;
  }
  .get-started {
    border: 2px solid $green;
    border-radius: 5px;
    color: $white;
    font-weight: 700;
    padding: 10px 1.5rem;
    transition: 0.3s;
    &:hover {
      background: $green;
      transition: 0.3s;
    }
  }

  .scroll-down {
    padding: 5px;
  }
  i {
    color: $green;
    font-size: 2rem;
    margin-bottom: 1rem;
    transition: 0.3s;
  }
  span {
    color: $offGrey;
    display: block;
    transition: 0.3s;
  }
}

// Recipe
.recipe {
  color: $black;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 2rem;
  padding-top: 80px;
  .recipe-one {
    text-align: center;
  }
  p {
    color: $lightBlack;
  }
  .recipe-two {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
    @include mQ(668px) {
      grid-template-columns: 1fr;
    }
  }
  figure {
    border-radius: 3px;
    box-shadow: 0 15px 45px -15px rgba(0, 0, 0, 0.2);
    padding: 30px 1rem;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
  img {
    border-radius: 3px;
    margin-bottom: 30px;
    width: 100%;
  }
  .name-price {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    @include mQ(668px) {
      justify-content: space-between;
      padding: 0 1rem;
    }
  }
  h4 {
    font-weight: 400;
  }
  span {
    color: $green;
  }
}

// About Us
.about {
  color: $black;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 160px;
  @include mQ(958px) {
    margin-top: 80px;
  }
  .about-one {
    @include mQ(958px) {
      display: none;
    }
  }
  img {
    border-radius: 4px;
    width: 100%;
  }
  p {
    color: $lightBlack;
    line-height: 1.6;
    margin-bottom: 1.3rem;
  }
  a {
    color: $lightBlack;
    font-size: 14px;
    padding: 7px 0;
  }
  i {
    display: inline-flex;
    background: $green;
    color: $white;
    border-radius: 50%;
    border: 1px solid $green;
    flex-direction: column;
    font-size: 10px;
    height: 20px;
    justify-content: center;
    margin-right: 7px;
    padding: 10px;
    text-align: center;
    width: 20px;
    transition: 0.3s;
  }
  #watch-it.active {
    border: 1px solid $green;
    color: $green;
    background: $white;
  }
}

// Clients
.clients {
  background: #f3f4f6;
  color: $black;
  display: grid;
  margin-top: 80px;
  padding-top: 80px;
  padding-bottom: 80px;
  h2 {
    text-align: center;
  }
  p {
    color: $lightBlack;
    line-height: 1.3;
    width: 80%;
  }
  .clients-one p {
    margin: 0 auto;
    text-align: center;
  }
  .clients-two p {
    box-sizing: border-box;
    margin: 40px 1.7rem;
  }
  .clients-two {
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
    margin-top: 50px;
    @include mQ(668px) {
      grid-gap: 3rem;
      grid-template-columns: 1fr;
    }
  }
  .box-item {
    background: $white;
    border-radius: 4px;
    box-shadow: 0 15px 45px -15px rgba(0, 0, 0, 0.2);
    padding-bottom: 30px;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
  .profile-name {
    background: $green;
    border-radius: 4px 4px 0 0;
    display: grid;
    align-items: center;
    grid-gap: 1rem;
    grid-template-columns: 50px auto;
    padding: 12px 1.7rem;
  }
  img {
    border: 5px solid $white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
  span {
    color: $white;
    font-weight: 700;
    font-size: 1.1rem;
  }
}

// Footer
footer {
  background: #fff;
  color: $lightBlack;
  padding-top: 80px;
  .footer-one {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    justify-content: space-between;
    @include mQ(668px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 3rem;
    }
    h4 {
      color: $green;
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }
    li {
      margin: 3px 0;
      padding: 5px 0;
    }
    a {
      color: $lightBlack;
      &:hover {
        color: $offBlack;
      }
    }
    p {
      color: $lightBlack;
      line-height: 1.5;
    }
  }
  // footer one end
  .footer-two {
    border-top: 1px solid #eaeaea;
    box-shadow: 0 -2px 5px -5px rgba(0, 0, 0, 0.2);
    margin-top: 80px;
    padding: 20px 0;
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      @include mQ(668px) {
        grid-template-columns: 1fr;
        grid-template-areas:
          "scroll"
          "copy"
          "social";
      }
    }
    .copy {
      color: $offBlack;
      @include mQ(668px) {
        justify-self: center;
        grid-area: copy;
      }
    }
    .scroll-up {
      justify-self: center;
      @include mQ(668px) {
        grid-area: scroll;
      }
    }
    .social-links {
      justify-self: end;
      @include mQ(668px) {
        justify-self: center;
        grid-area: social;
      }
    }
    a {
      color: $offBlack;
      font-size: 1.3rem;
      justify-self: end;
      transition: 0.3s;
      &:hover {
        color: $green;
        transition: 0.3s;
      }
    }
    #top {
      background: #fff;
      border: 1px solid #eaeaea;
      border-bottom: 0;
      border-left: 0;
      border-radius: 50%;
      border-right: 0;
      box-shadow: 0 -4px 5px -5px rgba(0, 0, 0, 0.2);
      color: $green;
      display: flex;
      flex-direction: column;
      height: 50px;
      justify-content: center;
      margin-top: -90%;
      padding: 5px;
      text-align: center;
      width: 50px;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.1);
        color: $white;
        background: $green;
        border: 0;
        box-shadow: 0 0 0 0;
        transition: 0.3s;
      }
    }
    ul li {
      display: inline-block;
      padding: 0 10px;
    }
    li:last-child {
      padding-right: 0;
    }
  }
  //footer two end
}
// footer code
